BlipFace.Service/Service References/BlipFaceServices/BlipFaceServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49987/BlipFaceServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlipFace.WebServices" />
  <xs:element name="NotifyUseBlipFace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUseBlipFaceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BlipFace.WebServices" minOccurs="0" name="GetLatestVersionResult" nillable="true" type="q1:BlipFaceVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>