BlipFace.Service/Service References/BlipFaceServices/BlipFaceServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlipFace.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlipFace.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stat.blipface.pl/BlipFaceServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="BlipFaceVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="DownloadLink" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Version" nillable="true" type="q1:Version" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlipFaceVersion" nillable="true" type="tns:BlipFaceVersion" />
</xs:schema>