BlipFace.Service/Service References/StatServices/StatServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="StatServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://stat.blipface.pl/StatServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://stat.blipface.pl/StatServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://stat.blipface.pl/StatServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlipFace.WebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatServices_NotifyUseBlipFace_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyUseBlipFace" />
  </wsdl:message>
  <wsdl:message name="IStatServices_NotifyUseBlipFace_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyUseBlipFaceResponse" />
  </wsdl:message>
  <wsdl:message name="IStatServices_GetLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IStatServices_GetLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatServices">
    <wsdl:operation name="NotifyUseBlipFace">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatServices/NotifyUseBlipFace" message="tns:IStatServices_NotifyUseBlipFace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatServices/NotifyUseBlipFaceResponse" message="tns:IStatServices_NotifyUseBlipFace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatServices/GetLatestVersion" message="tns:IStatServices_GetLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatServices/GetLatestVersionResponse" message="tns:IStatServices_GetLatestVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStatServices" type="tns:IStatServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyUseBlipFace">
      <soap:operation soapAction="http://tempuri.org/IStatServices/NotifyUseBlipFace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/IStatServices/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatServices">
    <wsdl:port name="BasicHttpBinding_IStatServices" binding="tns:BasicHttpBinding_IStatServices">
      <soap:address location="http://stat.blipface.pl/StatServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>